<%if @my_expert_appointments == [] %>
<h2>You have no appointments with experts.</h2>
<% else %>
<h2>Your appointments with experts:</h2>
<table class="table table-striped">
    <tr>
      <th>Job Seeker</th>
      <th>Expert mentor</th>
      <th>Appointment Time</th>
      <th>Appointment Channel</th>
      <th>Appointment Status</th>
      <th>Delete Appointment</th>
    </tr>
<% @my_expert_appointments.each do |appointment| %>
    <tr>
       <td> <%= appointment.jobseeker.full_name %> </td>
       <td> <%= appointment.expert.full_name %></td>
       <td> <%= appointment.appointment_time %></td>
       <td> <%= appointment.appointment_channel %>
      </td>
        <td> <%= appointment.sent_appointment_status %></td>
        <td><%= link_to "Delete", "/appointments/#{appointment.id}", method: :delete %></td>
    </tr>
<% end %>
</table>
<% end %>

<%if @my_jobseeker_appointments == [] %>
<h2>You have no appointments with jobseekers.</h2>
<% else %>
<h2>Your appointments with jobseekers:</h2>
<table class="table table-striped">
    <tr>
      <th>Job Seeker</th>
      <th>Expert mentor</th>
      <th>Appointment Time</th>
      <th>Appointment Channel</th>
      <th>Appointment Status</th>
      <th>Delete Appointment</th>
    </tr>
<% @my_jobseeker_appointments.each do |appointment| %>
    <tr>
       <td> <%= appointment.jobseeker.full_name %> </td>
       <td> <%= appointment.expert.full_name %></td>
       <td> <%= appointment.appointment_time %></td>
       <td> <%= appointment.appointment_channel %>
      </td>
      <td> 
      <% if appointment.accepted == true %>
      Invite accepted
      <% elsif appointment.accepted == false %>
      Invite declined  
      <% else %>
      <%= link_to "Accept", "/appointments/#{appointment.id}?accepted=true", method: :patch %>
      <%= link_to "Decline", "/appointments/#{appointment.id}?accepted=false", method: :patch %>
      <% end %>
      </td>
      <td><%= link_to "Delete", "/appointments/#{appointment.id}", method: :delete %></td>
    </tr>
<% end %>
</table>
<% end %>

