<%= form_tag '/appointments', method: :post do %>

<%= hidden_field_tag :expert_id, @expert_id %>

<div>
  <%= label_tag :appointment_time %>
  <%= text_field_tag :appointment_time %>
</div>
<div>
  <%= label_tag :appointment_channel %>
  <%= text_field_tag :appointment_channel %>
</div>
<div>
  <%= submit_tag "Send appointment request." %>
</div>

<% end %>